@use'../../../../styles/mixins.scss';
@use'../../../../styles/variables.scss';

.card {
    margin: 80px 25px 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: variables.$secondary-background-color;
    padding: 0 0 20px 0;
    border-radius: 8px;
    height: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
}

.productActions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 0 0 0
}

.productActions button {
    @include mixins.button1;
    padding: 5px 15px 5px 15px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    border: none;
    font-size: 0.6rem;
}

.image {
    margin-top: -70px;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgb(0, 0, 0, 0.3);
}

.productView h5 {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: variables.$secondary-font;
}

.productView p {
    margin: 0;
    font-size: 0.8rem;
}

@media (max-width:500px) {
    .card {
        width: 280px;
    }
    .image {
        width: 250px;
        height: 250px;
    }
    .productActions button {
        padding: 8px 20px 8px 20px;
        margin: 0 10px 0 10px;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
    }
}