.formContainer {
    margin: 150px 0 0 0;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
}

.fieldContainer label {
    font-size: 12px;
}

.fieldContainer input {
    border-width: 2px;
    border-radius: 5px;
    padding: 5px 0 5px 3px;
}

.passwordContainer button {
    border: none;
    background-color: transparent;
}

.submitBtn {
    background-color: #070100;
    padding: 10px 25px 10px 25px;
    color: #c0c0c0;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.submitBtn:hover {
    background-color: #002d00;
}

.redirectContainer {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
}

.redirectContainer h4 {
    margin: 0;
    font-size: 15px;
}

.signUBtn {
    background-color: #3b0000;
    color: #c0c0c0;
    border-radius: 6px;
    padding: 6px 15px 6px 15px;
    margin: 10px 0 10px 0 ;
    border: none;
}

.forgotPswrd {
    font-size: 15px;
    color: #070100;
}