@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');



$primary-color: #002d00;
$secondary-color: #3b0000;
$primary-background-color: #c0c0c0;
$secondary-background-color: #c7c5c5;
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Oswald', sans-serif;
