@use'../../styles/mixins.scss';
@use'../../styles/variables.scss';

.main {
    @include mixins.defaultPage;
    max-height: 100vh;
    overflow: hidden;
}

.mainSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 20%;
    padding: 30px 0 0 0;
}

.navigation button {
    background: transparent; 
    border: none;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 2rem 0.5rem 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px 0 0 0;
    border-radius: 5px;
}

.navigation button:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.mobileNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 90%;
    padding: 0.5rem;
    margin: 0 0 30px 0;
    z-index: 1000;
}

.navButton {
    background: transparent; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.navIcons {
    color: variables.$primary-color;
}

.activeIcon {
    color: variables.$secondary-color;
}

.display {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.displayContainers {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.activeNav {
    color: #f0f0f0;
    background-color: #002d00 !important;
}

.addButtonContainer {
    width: 100%;
    display: flex;
    justify-content: right;
}

.addKlosetIcon {
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease-in-out;
}

.addKlosetIcon:hover {
    transform: scale(1.1);
}

@media(max-height: 600px) {
    .navigation {
        min-height: 400px;
    }
    .display {
        min-height: 400px;
    }
}

@media (max-width: 500px) {
    
    .main {
        overflow-x: hidden;
        overflow: visible;
        width: 100%;
    }  

    .display {
        width: 100%;
        height: auto;
    }
}