.main {
    width: 80%;
    height: 100%;
}

.mainSection {
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    justify-content: center;
    width: 20%;
    padding: 30px 0 0 0;
}

.navigation button {
    background: transparent; 
    border: none;
    text-align: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 2rem 0.5rem 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px 0 0 0;
    border-radius: 5px;
}

.navigation button:hover {
    transform: scale(1.1);
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.3);
}

.mobileNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0; 
    width: 90%;
    padding: 0.5rem;
    margin: 0 0 30px 0;
    z-index: 1000;
}

.navButton {
    background: transparent; 
    border: none;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.navIcons {
    color: #002d00;
}

.active {
    color: red;
}

.display {
    width: 80%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayContainers {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.activeNav {
    color: #f0f0f0;
    background-color: #002d00 !important;
}

.addButtonContainer {
    width: 100%;
    display: flex;
    justify-content: right;
}

.addKlosetIcon {
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease-in-out;
}

.addKlosetIcon:hover {
    transform: scale(1.1);
}

@media(max-height: 600px) {
    .navigation {
        min-height: 400px;
    }
    .display {
        min-height: 400px;
    }
}