@use'../../styles/variables.scss';

.container {
    margin: 15px 0 0 0;
    width: 60%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%); /* Moves the element back by 50% of its width */
}

.navContainers {
    border: none;
    background-color: transparent;
}

.icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
    color: variables.$primary-color;
}

.icon:hover {
    transform: scale(1.2);
}


@media (max-width: 720px) {
    .container {
        max-width: 80%;
    }
}